// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fef2ea;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;
$gray-8: #dddddd;

// Auxiliary colors
$l1: #FF8549;
$l2: #E8753D;
$lP: #E06F38;
$l3: #D4622A;
$l4: #D34804;
$l5: #FF5400;


$g1: #25978C;
$g2: #19857B;
$gP: #004741;
$g3: #197A71;
$g4: #0F655D;
$g5: #07514A;
